html {
  scroll-behavior: smooth;
}
:root {
  --mainDark: #0e1734;
  --mainText: #192252;
  --mainInfo: #848fac;
  --footer: #0b265a;
  --footer_link_color: #424f7b;
  --carousel_indicators: #fab047;
  --accordion_circle_noActive: #ffece2;
  --accordion_circle_active: #ff620a;
  --montserrat: "Montserrat", sans-serif;
  --inter: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--inter);
}
h1 {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: 600;
  color: var(--mainText);
}
p {
  font-family: var(--inter);
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: var(--mainInfo);
}

.btn-dark {
  background: var(--mainDark) !important;
}
button {
  border-radius: 4px;
  font-family: var(--inter);
  font-size: 16px;
}
.navbar {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  /* width: 83%;
  margin: 0 auto; */
  height: auto;
  margin-top:30px;
}
.navbar-light .navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
}
.navbar-brand {
  font-weight: 600;
  font-size: 30px;
  line-height: 39px;
  color: var(--mainText);
  font-family: var(--montserrat);
}

.navbar-nav .nav-item .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--mainText);
  font-family: var(--inter);
}

.form-inline .btn-dark {
  width: 115px;
  height: 45px;
  font-weight: 500;
  background: var(--mainDark) !important;
  border-radius: 4px;
  text-transform: capitalize;
}

.main-provider {
  width: 100%;
  /* height: 100; */
  display: flex;
  align-items: center;
}
.main-provider .container .row {
  display: flex;
  align-items: center;
}
.main-provider .container {
  margin-top: 80px;
}
.main-info h1 {
  font-weight: 600;
  font-size: 45px;
  letter-spacing: -0.01em;
  color: var(--mainText);
  font-family: var(--montserrat);
}
.main-info p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 22px;
  color: var(--mainInfo);
  width: 80%;
}

.main-info .main-info-btn button {
  width: 150px;
  height: 48px;
  background: var(--mainDark);
  border-radius: 4px;
  font-family: var(--inter);
}
.image-group {
  width: 100%;
  position: relative;
}
.image-group > img {
  width: 30%;
}
.image-group .picture-second {
  /* margin-top: 80px; */
  position: absolute;
  left: 35%;
  top: 80px;
}
#section-second {
  margin-top: 160px;
}
.picture-left > img {
  width: 100%;
}
#section-second .row,
#section-third .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-info h1 {
  font-size: 34px;
}
.section-info p {
  width: 80%;
  margin-top: 22px;
}
.section-info .btn-dark {
  width: 143px;
  height: 48px;
  margin-top: 30px;
}

.section-child p {
  width: 75%;
}
.section-right {
  margin-left: 120px;
}
.section-info p {
  width: 85%;
}

#section-four {
  font-family: var(--montserrat);
}
#section-four .panel-info {
  margin-top: 155px;
}

#section-four .panel-info h1 {
  font-size: 34px;
}
#section-four .panel-info p {
  margin-top: 22px;
}

#section-four .panel-info button {
  margin: 30px 0;
  width: 165px;
  height: 51px;
}

#section-four .row {
  margin-top: 65px;
}

#section-four .card {
  /* margin: 85px 0 0 0;  */
  border: none;
  box-shadow: none;
  padding: 0 !important;
}
#section-four .card .card-header {
  padding: 0 !important;
  background-color: transparent !important;
}
#section-four .card .card-header > img {
  width: 100%;
}
#section-four .card .card-body {
  padding: 0;
}
#section-four .card .card-body h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
}

#section-four .card .card-body p {
  color: var(--mainInfo);
  font-size: 15px;
}
#section-four .card .card-footer {
  background-color: transparent;
  border-top: none;
  padding: 0 !important;
}
#section-four .card .card-footer a {
  color: var(--footer_link_color);
}
#section-five {
  margin-top: 150px;
  margin-bottom: 200px;
  height: 60vh;
  display: flex;
  align-items: center;
}

#section-five .row {
  display: flex;
  align-items: center;
}
#section-five .accordion-left-info h1 {
  font-size: 36px;
}
#section-five .accordion-left-info p {
  width: 60%;
}
#section-five .accordion-left-info .contact-us {
  margin-top: 32px;
}
#section-five .accordion-left-info .contact-us button {
  width: 148px;
  height: 51px;
  font-family: var(--inter);
}
#section-five .accordion-left-info .contact-us .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: var(--inter);
  color: #0e1734;
}

.accordion-item {
  border: none;
  border-radius: 4px !important;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.07));
  /* height: 100px; */
  /* display: flex;
  align-items: center;
  justify-content: center;   */
}
.accordion-header {
  height: 100px !important;
  color: var(--mainText);
  display: flex;
  align-items: center;
  margin: 24px 0;
  border-radius: 4px;
}
.accordion-button {
  margin: 24px 0;
  background: #ffffff;
  border-radius: 4px;
  font-size: 24px;
  font-family: var(--montserrat);
  font-weight: 600;
  color: #424f7b;
  display: flex;
  justify-content: space-between;
}
.angle-down-provider {
  width: 40px;
  height: 40px;
  background-color: var(--accordion_circle_noActive);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s;
}
.angle-down-provider i {
  color: var(--accordion_circle_active);
}
.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  transition: all .5s;
  color: #424f7b;

}
.accordion-button:not(.collapsed) .angle-down-provider i {
  transform: rotateX(180deg);
  transition: all .5s;
  color: white;
}
.accordion-button:not(.collapsed) .angle-down-provider {
  background-color: var(--accordion_circle_active);
  transition: all 1s;
}


.accordion-body {
  font-size: 16px;
  line-height: 150%;
  font-family: var(--inter);
  color: #848fac;
}
.accordion-button::after {
  display: none;
 }

/* CAROUSEL STARTED */
#section-last {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}
#section-last .biography {
  width: 51%;
  margin: 0 auto;
}
#section-last .biography h1 {
  font-size: 34px;
}
#section-last .biography p {
  text-align: center;
  color: #848FAC;
  margin-top: 42px;
}
.carousel-indicators {
  position: absolute;
  top: 100% !important;
}
.carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
  background-color: var(--accordion_circle_active) !important;
  border-radius: 50%;
}
.biography h4 {
  color: #192252;
}
/* CAROUSEL FINISHED */
footer {
  width: 100%;
  background-color: var(--footer);
  /* height: 444px; */
}
footer .container {
  /* width: calc(100% - 240px); */
  padding: 120px 30px;  
}
.footer-left-info h1 {
  color: white;
  font-size: 30px;
}
.footer-left-info p {
  width: 35%;
}
.social-media {
  margin-top:35px;
}
.social-media i {
  color: white;
  font-size: 22px;
}

.footer-links p {
  color: white;
}
.footer-links ul {
  padding-left: 0;
}
.footer-links ul li {
  list-style: none;
  color: #D9DBDE;
  line-height: 35px;
  font-weight: 300;
  font-size: 14px;
}







/* MEDIA SCREEN 992PX */

@media (max-width: 992px) {
  .navbar {
    position: fixed;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
  }
  .section-info h1 {
    font-size: 24px;
  }
  .section-info p {
    font-size: 14px;
    width: 100%;
  }
  .section-info .btn-dark {
    font-size: 14px;
    width: 120px;
    height: 40px;
  }
  .col-lg-1 {
    display: none;
  }
  .section-right {
    margin-left: 0;
  }
  #section-five .accordion-left-info h1 {
    font-size: 24px;
  }
  #section-five .accordion-left-info p {
    width: 100%;
  }
  .accordion-button  {
    font-size: 18px;
  }
  .angle-down-provider {
    width: 30px;
    height: 30px;
  }
  .footer-left-info p {
    width: 100%;
  }
}

/* MEDIA SCREEN 992PX */
/* MEDIA SCREEN 900PX */

@media (max-width: 900px) {

}



/* MEDIA SCREEN 900PX */










/* MEDIA SCREEN 768PX */
@media (max-width: 768px) {
  .main-info {
    margin-top: 50px;
  }
  .image-group {
    margin-top: 40px;
  }
  .picture-left {
    text-align: center;
  }
  .picture-left img {
    width: 80%;
    height: 500px;
    object-fit: cover;
  }
  .pictures-wrap img {
    height: 400px;
  }
  .section-right h1 {
    margin-top: 30px;
  }
  #section-four p {
    width: 100% !important;
  }
  
  /* footer .container .col-lg-2:first-child, */
  footer .container .footer-column {
    display: flex;
    justify-content: space-around; 
  }
  footer .container .col-lg-2:last-child {
    display: flex;
    justify-content: space-around;
  }
}

/* MEDIA SCREEN 768PX */
/* MEDIA SCREEN 576PX */
@media (max-width: 576px) {
  .navbar-collapse {
    /* height: 80vh; */
  }
  .image-group .picture-second {
    top: 45px;
  }
  .main-info h1 {
    font-size: 35px;
  }
  .main-info p {
    width: 100%;
  }
  #section-third .row-reverse {
    flex-direction: column-reverse;
  }
  .carousel-title h1 {
    font-size: 24px;
  }
  #section-last .biography {
    width: 90%;
  }
  #section-last .biography p {
    font-size: 14px;
  }
  .biography h4 {
    font-size: 16px;
    color: #192252;
  }
}
/* MEDIA SCREEN 576PX */
/* MEDIA SCREEN 400PX */
@media (max-width: 400px) {
  .main-info h1 {
    font-size: 24px;
  }
  .picture-left img {
    width: 100%;
  }
  .accordion-header {
    height: 70px !important;
  }
  #section-five .accordion-left-info .contact-us button {
    width: 120px;
    height: 40px;
    font-size: 14px;
  }
  #section-five .accordion-left-info .contact-us .nav-link {
    font-size: 14px;
  }
  #section-four .panel-info h1 {
    font-size: 24px;
  }
  #section-four .panel-info {
    margin-top: 50px;
  }
  .accordion-body {
    font-size: 13px;
  }
  .accordion-flush .accordion-collapse {
    margin-top: -30px;
  }
  .carousel-title h1 {
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  .accordion-button {
    font-size: 14px;
  }
  footer .container  {
    padding: 60px 20px;
  }
  .footer-left-info h1 {
    font-size: 18px;
  }
}
/* MEDIA SCREEN 400PX */
/* css scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--mainDark);
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */
